<!--

#SHARING
shareThisToolLink: 'Partagez cet outil'
shareSubjectEmail: 'Essayez%20le%20Calculateur%20de%20Déplacements%20des%20Techniciens!'
shareEmailBody: 'Découvrez%20ce%20calculateur%20de%20déplacements%20des%20techniciens%20:%20https%3A%2F%2Fwww.apizee.com%2Ffr%2Fcalculateur-couts-deplacement-technicien.php%20!%0ACela%20vous%20aide%20à%20calculer%20les%20économies%20potentielles%20et%20les%20émissions%20de%20CO2.%0AEssayez-le!%0A'
shareTwitterText: 'Découvrez ce calculateur de déplacements de techniciens! Il vous aide à calculer les coûts, les économies potentielles et les émissions de CO<sub>2</sub>. Essayez-le!'
websitePageURL: 'https://www.apizee.com/fr/calculateur-couts-deplacement-technicien.php'

-->



<div class="mt-4">
    <a href="#" id="share-link">{{page.shareThisToolLink}} <i class="fas fa-share-alt"></i></a>
    <div id="share-icons" class="share-icons" style="display: none;">
        <a href="mailto:?subject={{page.shareSubjectEmail}}&body={{page.shareEmailBody}}"
            target="_blank"><i class="fas fa-envelope"></i></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{page.websitePageURL}}"
            target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/intent/tweet?text={{page.shareTwitterText}} {{page.websitePageURL}}"
            target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/sharing/share-offsite/?url={{page.websitePageURL}}"
            target="_blank"><i class="fab fa-linkedin-in"></i></a>
    </div>
</div>


<script>

    document.getElementById("share-link").addEventListener("click", function (e) {
        e.preventDefault();
        var shareIcons = document.getElementById("share-icons");
        shareIcons.style.display = shareIcons.style.display === "none" ? "block" : "none";
    });

</script>