<link rel="stylesheet" href="{{site.baseurl}}/assets/css/share-style.css">
    <section class="share-section">
        <h3>Share this tool:</h3>
        <span>
            <h4 id="meeting-cost-url">https://fellow.app/tools/meeting-cost-calculator</h4>
            <button class="calculatorCopyBtn" id="copyCalculatorUrl">Copy link</button>
        </span>
        <div class="share-icons">
            <a href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Ffellow.app%2Ftools%2Fmeeting-cost-calculator%2F&amp;linkname=" target="_blank" title="Share on Twitter">
                <img width="44" height="44" class="share__icon" src="twitter-icon.svg" alt="Twitter Icon">
            </a>
            <a href="https://www.addtoany.com/add_to/linkedin?linkurl=https%3A%2F%2Ffellow.app%2Ftools%2Fmeeting-cost-calculator%2F&amp;linkname=" target="_blank" title="Share on LinkedIn">
                <img width="44" height="44" class="share__icon" src="linkedin-icon.svg" alt="LinkedIn Icon">
            </a>
            <a href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Ffellow.app%2Ftools%2Fmeeting-cost-calculator%2F&amp;linkname=" target="_blank" title="Share on Facebook">
                <img width="44" height="44" class="share__icon" src="facebook-icon.svg" alt="Facebook Icon">
            </a>
            <a href="mailto:?subject=Take a look at this&amp;body=Hey!%0D%0A%0D%0A Check out this new page I just found: http://wwww.fellow.app/tools/meeting-cost-calculator/ - let me know what you think %0D%0A%0D%0A Cheers!" title="Share by Email">
                <img width="44" height="44" class="share__icon" src="email-icon.svg" alt="Email Icon">
            </a>
        </div>
    </section>
    <script src="{{site.baseurl}}/assets/js/share-script.js"></script>