--- 
title: CSS Stylesheet 
--- 


@use "main" with (
    $baseurl: "{{site.baseurl}}",
    $app-width: 800px
    );


.main-result {

    .result-value {
        background-color: none;
        color: main.$primary-color;
    }

    .result-section-title {
        font-size: 1.4em;
    }
}

#results {
    background-color: main.$tertiary-color;
}

@keyframes rolldownAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.result-savings.tiles.visible{
    opacity: 100%;
}

.result-savings.tiles {

    //opacity: 0%;
    overflow-y: hidden;
    transition: all 1s ease-in;

    .row {
        margin-bottom: 0px;
    }

    .result-section-title {
        font-size: 1.2em;
        color: main.$light-dark;
    }

    .result-output {
        padding:0;
        font-size: 0.9em;


        .result-data-title {
            
            color: main.$dark;
            text-align: right;
        }    

        .result-value {
            color: main.$primary-color;
            margin-bottom: 0;
            text-align: left;

            .complement {
                font-weight: normal;
                font-size: 0.6em;
                color: main.$light-dark;
            }
        }
    }
}
