--- 
title: CSS Stylesheet 
--- 


@use "main" with (
    $baseurl: "{{site.baseurl}}",
    $app-width: 800px
    );


.main-result {

    .result-value {
        background-color: main.$primary-color;
        color: white;
        border-radius: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .result-section-title {
        font-size: 1.5em;
    }
}

.result-savings.tiles {

    .row {
        margin-bottom: 0px;
    }

    .result-section-title {
        margin-bottom: 0;
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 1.2em;
        font-weight: normal;
        color: main.$light-dark;
    }

    .result-output {
        padding:0;


        .result-data-title {
            font-size: 1em;
            color: main.$dark;
            text-align: right;
        }    

        .result-value {
            color: main.$primary-color;
            margin-bottom: 0;
            font-size: 1.2em;
            .complement {
                font-weight: normal;
                color: main.$light-dark;
            }
        }
    }
}
