--- 
title: CSS Stylesheet 
--- 


@use "main" with (
    $baseurl: "{{site.baseurl}}",
    $app-width: 800px
    );


.main-result {

    .result-value {
        background-color: main.$primary-color;
        color: white;
        border-radius: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.result-savings {

    .row {
        margin-bottom: 0px;
    }

    .result-section-title {
        margin-bottom: 0;
        margin-top: 0.8rem;
        color: main.$light-dark;
    }

    .result-output {


        .result-data-title {
            font-size: 1.4em;
        }    

        .result-value {
            color: main.$primary-color;
            margin-bottom: 0    ;
            .complement {
                font-size: 0.8em;
                font-weight: normal;
                color: main.$light-dark;
            }
        }
    }
}
