--- 
title: CSS Stylesheet 
--- 


@use "main" with (
    $baseurl: "{{site.baseurl}}",
    $app-width: 800px
    );




#results {
    background-color: main.$tertiary-color;

    .row {
        margin-bottom: 0px;
    }

    .result-section-title {
        margin-bottom: 0;
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 1.2em;
        font-weight: normal;
        color: main.$light-dark;
    }

    .result-output {
        padding:0;
        font-size: 0.9em;

        .result-section-title {
            text-align: left;
        }

        .result-data-title {
            
            color: main.$dark;
            text-align: right;
        }    

        .result-value {
            color: main.$light-dark;
            margin-bottom: 0;
            text-align: left;

            .value{
                font-size: 1.2em;
            }

            .complement {
                font-weight: normal;
                font-size: 0.6em;
                color: main.$light-dark;
            }
        }

        .status{
            border-radius: 10px;
            color: #FFF;
            font-size: 2.3em;
            font-weight: bolder;
            display:none;
            padding:10px;
        }

        #excellent {
            background-color: darkgreen;
        }
        #great {
            background-color: green;
        }
        #needimprovment {
            background-color: red;
        }
        #good {
            background-color: orange;
        }
        
    }
    .main-result {

        .result-value {
            background-color: none;
            color: main.$primary-color;
            font-size: 4em;
        }
    
        .result-section-title {
            font-size: 1.4em;
            font-weight: bold;
        }
    }
}
