<!DOCTYPE html>
<html lang="{{page.lang}}">
<!-- Version Number : 1.0 -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include favicons.html %}
    {% include external_css.html %}

    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/fcr_style.css">

    <title>{{page.title}}</title>
</head>

<body>
    <div class="container container-box p-3">
        <div>
            <div class="col-lg-6">
                <h2>{{page.CTA}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="input">
                    <form id="fcr-form" class="p-3 needs-validation" novalidate>

                        <div class="row">
                            <h3><label for="total-no-incidents-opened">{{page.noIncidentsLabel}}:</label></h3>
                            <div class="input-group">
                                <input type="number" class="form-control" id="total-no-incidents-opened"
                                    name="total-no-incidents-opened" placeholder="{{page.noIncidentsExample}}"
                                    aria-describedby="totalNoIncidentsHelp" value="" min="0" required>
                                    <div class="invalid-feedback">
                                        {{page.errorMsgGTZero}}
                                    </div>
         
                                </div>
                            <small id="totalNoIncidentsHelp"
                                class="form-text text-muted">{{page.noIncidentsHint}}</small>
                        </div>


                        <div class="row">
                            <h3><label for="total-no-incidents-resolved">{{page.noIncidentsResolvedLabel}}:</label></h3>
                            <div class="input-group">
                                <input type="number" class="form-control" id="total-no-incidents-resolved"
                                    name="total-no-incidents-resolved" placeholder="{{page.noIncidentsResolvedExample}}"
                                    aria-describedby="totalNoIncidentsHelp" value="" min="0" required>
                                    <div class="invalid-feedback">
                                        {{page.errorMsgShouldBeLessThanOpenedTickets}}
                                    </div>
                            </div>
                            
                            <small id="totalNoIncidentsHelp"
                                class="form-text text-muted">{{page.noIncidentsResolvedHint}}</small>

                        </div>
                        <div class="row">
                            <h3><label for="total-no-incidents-reopened">{{page.noIncidentsReopenedLabel}}:</label></h3>
                            <div class="input-group">
                                <input type="number" class="form-control" id="total-no-incidents-reopened"
                                    name="total-no-incidents-reopened" placeholder="{{page.noIncidentsReopenedExample}}"
                                    aria-describedby="totalNoIncidentsReopenedHelp" value="" min="0" required>
                                    <div class="invalid-feedback">
                                        {{page.errorMsgShouldBeLessThanResolvedTickets}}
                                    </div>
                                </div>
                            
                            <small id="totalNoIncidentsReopenedHelp"
                                class="form-text text-muted">{{page.noIncidentsReopenedHint}}</small>
                        </div>

                        <button class="btn btn-primary btn-cta" type="submit">{{page.formButton}}</button>

                    </form>
                    <div id="error-message" class="mt-4 text-danger"></div>
                </div>
            </div>
            <div class="col-lg-6" id="results" aria-live="polite">
                    <!-- FCR -->
                    <div class="result-output row main-result m-3" id="result-total-cost">
                        <p class="result-section-title">{{page.FCRLabel}}</p>
                        <p class="result-value text-center p-1">
                            <span class="value"><span class="generated" id="result_fcr"></span></span>
                            <span class="post-unit">{{page.percentUnitPost}}</span>
                        </p>
                    </div>

                    <!-- Estimated results with Apizee -->
                    <div class="row result-savings tiles p-4">
                        <div class="col">
                        <div class="row p-1">
                            <p class="result-section-title">{{page.results_fcr_increase_title}}</p>
                        </div>
                        <div class="row p-1">                            
                            <div class="result-output col-5">
                                <p class="result-data-title">{{page.estimatedFCRIncreaseLabel}}</p>
                            </div>
                            <div class="result-output col-2">
                                👉
                            </div>
                            <div class="result-output col-5">
                                <p class="result-value">
                                    <span class="value generated" id="result_fcr_increase_pts"></span>
                                    <span class="post-unit">{{page.ptsUnitPost}}</span><br />
                                    <span class="complement">
                                        (<span class="value generated" id="result_fcr_increase_percent"></span>
                                        <span class="post-unit">{{page.percentUnitPost}}</span>)</span>
                                </p>

                            </div>
                        </div>
                        <div class="row p-1">
                            <!-- Savings -->
                            
                            <div class="result-output col-5">
                                <p class="result-data-title">{{page.estimatedFCRTargetLabel}}</p>
                            </div>
                            <div class="result-output col-2">
                                👉
                            </div>
                            <div class="result-output col-5">
                                <p class="result-value">
                                    <span class="value generated" id="result_fcr_target"></span>
                                    <span class="post-unit">{{page.percentUnitPost}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    </div>
                
            </div>
        </div>
        <div class="row">
            {% include share_buttons.html %}
        </div>
    </div>
    {% include external_libs.html %}

    <script src="{{site.baseurl}}/assets/js/fcr-script.js" type="module"></script>

    <script>
        //Init on load
        window.addEventListener("load", (event) => {
            window.populateFCRResults('{{page.lang}}')
        });

    </script>
</body>

</html>