<!DOCTYPE html>
<html lang="{{page.lang}}">
<!-- Version Number : 1.0 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include favicons.html %}

    {% include external_css.html %}

    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/truckroll_style.css">

    <title>{{page.title}}</title>
</head>

<body>
    <div class="container container-box">
        <img src="{{site.baseurl}}/assets/images/logo-apizee.png" alt="Apizee Logo" class="logo">

        <h1 class="text-right primary-color">{{page.calculatorTitle}}</h1>
        <div id="results" class="primary-bg-color p-3 text-right rounded" aria-live="polite"></div>
        <div id="results_2" class="primary-black text-right" aria-live="polite"></div>
        <form id="truck-roll-form" class="mt-4">
            <div class="row">
                <div class="form-group col-12">
                    <label for="num-truck-rolls">{{page.nbTruckrollLabel}}:</label>
                    <input type="number" class="form-control" id="num-truck-rolls" name="num-truck-rolls"
                        placeholder="{{page.nbTruckrollExample}}" oninput="calculateSavings()" aria-describedby="truckRollsHelp" required>
                    <small id="truckRollsHelp" class="form-text text-muted">{{page.nbTruckrollHint}}</small>
                </div>
            </div>
            <a class="btn btn-primary primary-bg-color">Calculate</a>

        </form>
        <div id="error-message" class="mt-4 text-danger text-right"></div>
        {% include share_buttons.html %}
    </div>

    {% include external_libs.html %}


    <script>

        function calculateSavings() {


            // Clear previous errors and styles
            document.getElementById("error-message").innerHTML = "";
            document.getElementById("num-truck-rolls").classList.remove("error-input");

            var numTruckRolls = document.getElementById("num-truck-rolls").value == "" ? 0 : parseInt(document.getElementById("num-truck-rolls").value)

            // Validate input values
            if (isNaN(numTruckRolls) || parseInt(numTruckRolls) < 0) {
                document.getElementById("error-message").innerHTML = "{{page.errorInvalidTruckrollNumber}}";
                document.getElementById("num-truck-rolls").classList.add("error-input");
                return;
            }

            // Constant values
            var costPerTruckRoll = {{page.truckRollCostInCurrency}};
            var reductionPercentage = 40;

            // Calculate total cost of truck rolls
            var totalCostOfTruckRolls = numTruckRolls * costPerTruckRoll;

            // Calculate potential savings
            var potentialSavings = totalCostOfTruckRolls * (reductionPercentage / 100);


            // Format potential savings as currency
            var formattedSavings = "{{page.resultCostCurrencyPre}}" + potentialSavings.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '{{page.thousandsSeparator}}') + "{{page.resultCostCurrencyPost}}";
            var formattedtotalCostOfTruckRolls = "{{page.resultCostCurrencyPre}}" + totalCostOfTruckRolls.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '{{page.thousandsSeparator}}') + "{{page.resultCostCurrencyPost}}";

            // Display results
            document.getElementById("results").innerHTML = '<p class="h3" data-trigger="hover" data-bs-toggle="tooltip" data-placement="top" title="{{page.resultCostHint}}">{{page.resultCostLabel}}: ' + formattedtotalCostOfTruckRolls + '</p>';
            document.getElementById("results_2").innerHTML = '<p data-trigger="hover" data-bs-toggle="tooltip" title="{{page.resultReductionHint}}">{{page.resultReductionLabel}}: ' + formattedSavings + '</p>';

        }

        calculateSavings()

    </script>
</body>

</html>